<div class="bordered-form">
<%= form_for [@mybudget, @income] do |f| %>

<table>
  <tr>
    <td class="field-name">  
        <%= f.label :income %><br>
      </td>
      <td class="field">
        <%= f.text_field :income %>
      </td>
  </tr>

  <tr>
      <td class="field-name"> 
        <%= f.label :amount %><br>
      </td>
      <td class="field">
        <%= f.number_field :amount %>
      </td>
  </tr>

  <tr>
      <td class="field-name" id="total-field-name">    
        <%= f.label :total_income %><br></td>
      <td class="total-output"><%= @income.total_income%></td>
  </tr>

</table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>