<div class="bordered-form">
<%= form_for [@income] do |f| %>

<h1>Income</h1>
<table>
  <tr>
    <td class="field-name">  
        <%= f.label :wages %><br>
      </td>
      <td class="field">
        <%= f.number_field :wages, :step => 0.01 %>
      </td>
  </tr>


  <tr>
      <td class="field-name"> 
        <%= f.label :other_income %><br>
      </td>
      <td class="field">
        <%= f.number_field :other_income, :step => 0.01 %>
      </td>
  </tr>

  <tr>
      <td class="field-name" id="total-field-name">    
        <%= f.label :total_income %><br></td>
      <td class="total-output"><%= @income.total_income%></td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>