<div class="bordered-form">
<%= form_for [@income] do |f| %>

<h1>Income</h1>
<table>
  <tr>
    <td class="field-name">  
        <%= f.label :wages %><br>
      </td>
      <td class="field">
        <%= f.number_field :wages %>
      </td>
  </tr>


  <tr>
      <td class="field-name"> 
        <%= f.label :other_income %><br>
      </td>
      <td class="field">
        <%= f.number_field :other_income %>
      </td>
  </tr>

  <tr>
      <td class="field-name" id="total-field-name">    
        <%= f.label :income_total %><br>
      </td>
      <td class="field" id="total-field">
        <%= f.number_field :income_total %>
      </td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>