This is my new income partial

<%= form_for [@income] do |f| %>
  
  <div class="field">
    <%= f.label :wages %><br>
    <%= f.number_field :wages %>
  </div>
  <div>
    <%= f.label :other_income %><br>
    <%= f.number_field :other_income %>
  </div>
  <div>
    <%= f.label :income_total %><br>
    <%= f.number_field :income_total %>
  </div>
  <div>
  	<div class="actions">
    <%= f.submit %>
  </div>

<% end %>