<div class="bordered-form" >
 <table class="bordered-form-header">
  <tr>
   <td class="bordered-form-note">This will do the same as above. Total expenses will be deducted in the calculation</td>
   <td>
    <%= link_to new_mybudget_expense_path(@mybudget, @expense), 
     remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %>Add Expense
    <%end%>
   </td>
  </tr>
 </table>

 <table class="table" >
  <tbody>
   <% @mybudget.expenses.each do |expense| %>
    <tr>
     <div id="expenses"></div>
     <td class="table-items"><%= expense.expense %></td>
     <td class="amount">$<%= expense.amount %></td>
     <td>
      <%= link_to edit_mybudget_expense_path(@mybudget, expense), 
       remote: true, id: "edit-item-link", class: "btn btn-sm btn-default round" do %>Edit
      <%end%>
     </td>
    </tr>
   <% end %>
  </tbody>
  <tfoot class="bordered-form-total">
   <tr>
    <td>less EXPENSES</td>
    <td>$<%= Expense.sum(:amount) %></td>
    <td></td>
   </tr>
  </tfoot>
 </table>
</div>