<div class="bordered-form">
 <table class="bordered-form-header">
   <tr>
    <td class="bordered-form-note">Incomes show page will list all of the incomes and allow the user to add new income values throughout the week.
    </td>
    <td>
     <%= link_to new_mybudget_income_path(@mybudget, @income), 
       remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %>Add Income
     <%end%>
    </td>
   </tr>
 </table>
  
 <table class="table">
  <tbody>
   <% @mybudget.incomes.each do |income| %>
    <tr>
     <td class="table-items"><%= income.income %></td>
     <td class="amount">$<%= income.amount %></td>
     <td>
      <%= link_to edit_mybudget_income_path(@mybudget, income), 
       remote: true, id: "edit-item-link", class: "btn btn-sm btn-default round" do %>Edit
      <%end%>
     </td>
    </tr>
   <% end %>
  </tbody>
  <tfoot class="bordered-form-total">
    <tr>
      <td>plus INCOME</td> 
      <td>$<%= Income.sum(:amount) %></td>
      <td></td>
    </tr>
  </tfoot>
 </table>
 </div>