<div class="row">
 <div class="page-body">
	 <center>
		 <div>
		 	<%= render 'header' %>
		 	<%= render 'opening_balance' %>
				<%= render 'mybudgets/incomes' %>
				<%= render 'mybudgets/expenses' %>
				<%= render 'mybudgets/transfers' %>
				<%= render 'balance' %>
		 </div>	 	
		</center>

	 <!-- Modal form -->
		<div class="modal fade" id='new-income-modal-form' role='dialog'></div>
		<div class="modal fade" id='edit-income-modal-form' role='dialog'></div>
	 <div class="modal fade" id='new-expense-modal-form' role='dialog'></div>
	 <div class="modal fade" id='edit-expense-modal-form' role='dialog'></div>
	 <div class="modal fade" id='new-transfer-modal-form' role='dialog'></div>
	 <div class="modal fade" id='edit-transfer-modal-form' role='dialog'></div>
	 <!-- Modal form -->
 </div>
</div>