<div class="bordered-form">
 <%= form_for [@mybudget, @expense] do |f| %>

  <table>
   <tr>
    <td class="field-name">  
     <%= f.label :expense %><br>
    </td>
    <td class="field"><%= f.text_field :expense %></td>
   </tr>
   <tr>
    <td class="field-name"> <%= f.label :amount %><br></td>
    <td class="field"><%= f.number_field :amount %></td>
   </tr>
  </table>
  <div class="actions">
   <%= f.submit %>
  </div>
 <% end %>
</div>